<h2 mat-dialog-title>Create a new library</h2>

<form #createLibraryForm="ngForm" name="createLibraryForm" (ngSubmit)="onSubmit()" novalidate>
  <div mat-dialog-content>

    <mat-form-field>
      <input matInput #name="ngModel" name="name" placeholder="Name" cdkFocusInitial [(ngModel)]="newLibrary.name" required>
      <mat-error *ngIf="name.invalid && name.errors.required">name is required</mat-error>
      <mat-error *ngIf="name.invalid && name.errors?.serverError">{{name.errors?.serverError}}</mat-error>
    </mat-form-field>
    <br />

    <mat-form-field>
      <input matInput #description="ngModel" name="description" placeholder="Description" [(ngModel)]="newLibrary.description">
      <mat-error *ngIf="description.invalid  && description.errors?.serverError">{{description.errors?.serverError}}</mat-error>
    </mat-form-field>

  </div>

  <div mat-dialog-actions align="end">

    <button mat-button type="button" (click)="onCancelClick()">Cancel</button>
    <button type="submit" mat-button [disabled]="createLibraryForm.form.invalid">Create</button>
    <!--replace with data.Id once implemented-->
  </div>
</form>
