<mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <label>
        Filter:
        <input [(ngModel)]="filterText" (keyup)="filterLibraries()" />
      </label>
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <mat-checkbox [(checked)]="includeInactive" (change)="toggleShowInactive()">Show inactive</mat-checkbox>
</mat-expansion-panel>

<div>
  <app-create-library-launcher></app-create-library-launcher>
</div>

<p>is collapesed {{isCollapsed}}</p>

<mat-nav-list id="navList">
  <mat-list-item *ngFor="let library of filteredLibraries | async" [routerLink]="['/search', library.libraryId]">
    <!--<mat-list-item-content  [ngStyle] ="{'padding-left.px': 5}">-->
      <span matLine> <!--matLine so button can be on the right-->
        <mat-icon matListIcon>folder</mat-icon>
        {{ library.name }}
      </span>
      <button mat-icon-button [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{id: library.libraryId}" *ngIf="!isCollapsed">
        <mat-icon>more_vert</mat-icon>
      </button>
    <!--</mat-list-item-content>-->
  </mat-list-item>
</mat-nav-list>


<mat-menu #appMenu="matMenu">
  <ng-template matMenuContent let-id="id">
    <button mat-menu-item (click)="edit(id)">Edit</button>
    <button mat-menu-item (click)="tags(id)">Tags</button>
  </ng-template>
</mat-menu>

