
<mat-card>
  <input type="text" [formControl]="filterText" />
  <button mat-icon-button [matMenuTriggerFor]="listMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-card>

<div>
  <app-create-library-launcher></app-create-library-launcher>
</div>

<mat-nav-list id="navList">

  <mat-list-item *ngFor="let library of pinnedLibraries$ | async">

    <mat-icon matListIcon>folder</mat-icon>
    <a matLine [routerLink]="['/search', library.libraryId]">{{ library.name }}</a>

    <button mat-icon-button (click)="null">
      <mat-icon>star</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{id: library.libraryId}" *ngIf="!isCollapsed">
      <mat-icon>more_vert</mat-icon>
    </button>

  </mat-list-item>

  <mat-list-item *ngFor="let library of filteredLibraries$ | async" >

    <mat-icon matListIcon>folder</mat-icon>
    <a matLine [routerLink]="['/search', library.libraryId]">
      <span [class.inactive]="!library.isActive">{{ library.name }}</span>
    </a>

    <button mat-icon-button (click)="toggleStar($event)">
      <mat-icon>star_border</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{id: library.libraryId}" *ngIf="!isCollapsed">
      <mat-icon>more_vert</mat-icon>
    </button>

  </mat-list-item>

</mat-nav-list>


<mat-menu #appMenu="matMenu">
  <ng-template matMenuContent let-id="id">
    <button mat-menu-item (click)="edit(id)">Edit</button>
    <button mat-menu-item (click)="tags(id)">Tags</button>
  </ng-template>
</mat-menu>

<mat-menu #listMenu="matMenu">
  <ng-template matMenuContent let-id="id">
    <mat-checkbox [formControl]="includeInactive">Show inactive</mat-checkbox>
  </ng-template>
</mat-menu>
