<div class="basic-container">
  <app-nav-menu (leftMenuClicked)="toggledLeft()"  (rightMenuClicked)="toggledRight()"></app-nav-menu>

  <mat-sidenav-container id="container" class="nav-container" fullscreen>
    <mat-sidenav id="leftSideNav"
                 mode="side"
                 opened
                 [class.menu-open]="leftNavOpen"
                 [class.menu-closed]="!leftNavOpen"
                 role="navigation">
      <app-library-navigator [isCollapsed]="!leftNavOpen"></app-library-navigator>
    </mat-sidenav>

    <mat-sidenav-content [ngStyle]="{ 'margin-left.px': leftContentMargin, 'margin-right.px': rightContentMargin }" role="main">
      <div>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
    <mat-sidenav id="rightSideNav"
                 mode="side"
                 position="end"
                 opened
                 [class.menu-open]="rightNavOpen"
                 [class.menu-closed]="!rightNavOpen"
                 role="region">
      drop zones go here
    </mat-sidenav>
  </mat-sidenav-container>
</div>
